* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: prohibition, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5)), url(../static/TGA21_Superhero_Ambient_007.png);
    background-size: cover;
    background-attachment: fixed;
}

header #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    height: 650px;
}

#header-content .title {
    margin-left: 100px;
    margin-top: 100px;
    font-size: 40px;
    text-transform: uppercase;
    font-style: italic;
}

#header-content .title h3 {
    font-size: 20px;
    width: 35%;
}

#header-content .title p {
    font-size: 17px;
    width: 35%;
    font-style: normal;
    margin-top: 30px;
    font-weight: 400;
    text-transform: lowercase;
}

.area-menu ul {
    background-color: #00047B;
    margin-top: 100px;
    text-align: center;
}

.area-menu ul li {
    display: inline-block;
    padding: 20px;
    height: 40px;
    line-height: 40px;
}

.area-menu ul li a {
    font-weight: 700;
    text-decoration: none;
}

.area-menu ul li:hover {
    background-color: white;
}

.area-menu ul li:hover a {
    color: #00047B;
}

#media-kit {
    padding-top: 100px;
    padding-left: 30px;
    background-color: #191919;
    font-style: italic;
    font-size: 26px;
    height: 700px;
}

#media-kit h1 {
    margin-bottom: 50px;
}

#media-kit .list li {
    list-style-type: none;
    float: left;
    width: 30%;
    box-sizing: border-box;
    margin-bottom: 100px;
    margin-left: 60px;
}

#media-kit .list li a {
    text-decoration: none;
}

#media-kit .list li a:hover img {
    filter: none;
}

#media-kit .list li a img {
    width: 400px;
    height: 200px;
}

#media-kit .list li a .title {
    font-style: normal;
}

#media-kit .list li a h4 {
    font-style: normal;
    font-size: 16px;
}

#media-kit .list li a .download {
    margin-top: 50px;
    border: 1px solid white;
    font-style: italic;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#host {
    background-color: #222222;
    height: 750px;
}

#host .host-image {
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding-top: 100px;
    padding-left: 50px;
}

#host .host-information {
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding-top: 100px;
    padding-left: 150px;
}

#host .host-information h4 {
    font-style: italic;
}

#host .host-information h1 {
    font-style: italic;
    font-size: 55px;
    text-transform: uppercase;
    width: 16px;
}

#host .host-information .title {
    text-transform: uppercase;
    width: 85%;
    margin-bottom: 30px;
}

#host .host-information p {
    width: 80%;
    margin-bottom: 30px;
}

#host .host-information a {
    border: 1px white solid;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

#host .host-information a:hover {
    filter: brightness(50%);
}

#advisory-board {
    padding-top: 100px;
    padding-left: 30px;
    font-style: italic;
    font-size: 26px;
    height: 700px;
}

#advisory-board h1 {
    text-transform: uppercase;
}

#advisory-board h3 {
    font-size: 20px;
    width: 35%;
    font-style: normal;
    text-transform: uppercase;
}

#advisory-board p {
    margin-top: 20px;
    font-style: normal;
    width: 35%;
    font-size: 16px;
}

#advisory-board .list {
    margin-top: 50px;
    list-style-type: none;
}

#advisory-board .list li {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    margin-top: 80px;
}

#advisory-board .list li .image {
    width: 15%;
    box-sizing: border-box;
    float: left;
}

#advisory-board .list li .image img {
    width: 230px;
}

#advisory-board .list li .information {
    width: 15%;
    box-sizing: border-box;
    float: left;
    margin-left: 180px;
}

#advisory-board .list li .information h4 {
    text-transform: uppercase;
    font-size: 13px;
    font-style: normal;
}

#advisory-board .list li .information img {
    margin-top: 30px;
    width: 100%;
}

#press {
    background-color: #00047B;
    clear: both;
    height: 1100px;
}

#press h1 {
    padding-top: 100px;
    padding-left: 30px;
    font-style: italic;
    font-size: 55px;
}

#press .list {
    padding-left: 40px;
    margin-top: 50px;
    list-style-type: none;
}

#press .list li {
    float: left;
    box-sizing: border-box;
    text-transform: uppercase;
    width: 28%;
    margin-left: 80px;
    margin-bottom: 50px;
}

#press .list li a {
    text-decoration: none;
}

#press .list li a .image {
    filter: grayscale(100%);
    width: 15%;
}

#press .list li a:hover .image {
    filter: none;
}

#press .list li a .image img {
    width: 403px;
    height: 200px;
}

#press .list li a .information {
    margin-top: 50px;
    width: 400px;
}

#press .list li a .information h3 {
    font-size: 30px;
}

#press .list li a .information p {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

#contact-us {
    background-color: #191919;
    height: 600px;
}

#contact-us .column-1 {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-top: 200px;
    padding-left: 15%;
}

#contact-us .column-1 h1 {
    text-transform: uppercase;
    font-size: 55px;
}

#contact-us .column-1 p {
    width: 300px;
}

#contact-us .column-2 {
    float: right;
    width: 50%;
    box-sizing: border-box;
    padding-top: 200px;
    padding-right: 15%;
}

#contact-us .column-2 h3 {
    text-transform: uppercase;
}

#contact-us .column-2 p {
    border: 1px solid white;
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    font-weight: bold;
    text-transform: uppercase;
}