* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: prohibition, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
    background-image: url(../static/TGA21_Superhero_Ambient_007.png);
    background-size: cover;
    background-attachment: fixed;
}

#content {
    font-style: italic;
}

#content h1 {
    font-style: italic;
    margin-top: 200px;
    font-size: 55px;
    margin-left: 30px;
    margin-bottom: 50px;
}

#content .list li {
    list-style-type: none;
    float: left;
    width: 25%;
    margin-left: 100px;
    box-sizing: border-box;
    margin-bottom: 100px;
}

#content .list li a {
    text-decoration: none;
}

#content .list li a:hover img {
    filter: none;
}

#content .list li a img {
    width: 400px;
    height: 200px;
    filter: grayscale(100%);
}

#content .list li a .date {
    font-weight: bold;
    color: rgb(111, 111, 111);
    margin-bottom: 10px;
}

#content .list li a .title {
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}

#content .list li a:hover .title p {
    color: rgb(111, 111, 111);
}